<div class="debug">question-detail.hbs</div>


<h2>Question detail page</h2>

<div class="row">
  <div class="col-sm-1">
    Author:
  </div>
  <div class="col-sm-10">
    {{question.author}}
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    Question:
  </div>
  <div class="col-sm-10">
    {{question.content}}
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    Additional Notes:
  </div>
  <div class="col-sm-10">
    {{question.notes}}
  </div>
</div>

{{update-question question=question update="update"}}
