<div class="debug hidden">application.hbs</div>

<div class="container">
  <header class = "page-header">
    <h1>Q & A Message Board</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
