<div class="debug">index.hbs</div>


<h2>Question List</h2>

{{new-question save="save"}}

<ul>
  {{#each model as |question|}}
    {{#link-to 'question' question.id}}{{question-tile question=question update="update"}}{{/link-to}}
  {{/each}}
</ul>
