<div class="debug">question.hbs</div>


<h2>Question Page</h2>

<p>Question: {{model.content}}</p>
<p>Author: {{model.author}}</p>
<p>Additional Notes: {{model.notes}}</p>

{{question-detail question=model destroyQuestion="destroyQuestion"}}
